# Node.js
node_modules/
npm-debug.log
yarn.lock
package-lock.json

# Env-tiedostot (API-avaimet, tietokanta-yhteydet)
.env

# VS Code -projektit
.vscode/

# Build-tiedostot ja riippuvuudet
dist/
out/
coverage/

# MacOS ja Windows -väliaikaistiedostot
.DS_Store
Thumbs.db
